{{> layouts/header}}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{hospital_name}}</td>
            <td>{{road_name_address}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <a class="page-item"><a class="page-link" href="?page={{previous}}">이전</a></li>
    <li class="page-item"><a class="page-link" href="?page={{next}}">다음</a></li>
</ul>
{{> layouts/footer}}