{{> layouts/header}}

{{> hospitals/search}}
<form class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">병원명</th>
            <th scope="col">도로명주소</th>
        </tr>
        </thead>
        <tbody>
        {{#hospitals}}
            <tr>
                <th scope="row">{{id}}</th>
                <td><a href="/hospitals/{{id}}">{{hospitalName}}</a></td>
                <td>{{roadNameAddress}}</td>
            </tr>
        {{/hospitals}}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {{#keyword}}
            <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{previous}}">이전</a></li>
            <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{next}}">다음</a></li>
        {{/keyword}}
        {{^keyword}}
            <li class="page-item"><a class="page-link" href="?page={{previous}}" />이전</a></li>
            <li class="page-item"><a class="page-link" href="?page={{next}}" />다음</a></li>
        {{/keyword}}
    </ul>
</form>
{{> layouts/footer}}