<div class="container">
    이 페이지는 show 페이지입니다.<br>
    {{#article}}
        <div class="card" style="width: 18rem;">
            <img src="..."
                 width="300" height="300" class="card-img-top" alt="...">
            <h1>{{id}}</h1>
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{content}}</p>
            </div>
        </div>
    {{/article}}
</div>