<div class="container">
    이 페이지는 show 페이지입니다.<br>
    {{#article}}
        <div class="card" style="width: 18rem;">
            <img src="..."
                 width="300" height="300" class="card-img-top" alt="...">
            <h1>{{id}}</h1>
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{content}}</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary"><a href="/articles/{{id}}/edit">글수정</a></button>
        <button type="button" class="btn btn-danger"><a href="/articles/{{id}}/delete">글삭제</a></button><br>
    {{/article}}
    {{^article}}
        {{message}}<br>
    {{/article}}
    <button type="button" class="btn btn-primary"><a href="/articles/list">글목록</a></button>
</div>